<%= form_with(model: local, class: "contents") do |form| %>
  <% if local.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
        <% local.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :city_id %>
    <%= form.collection_select :city_id, City.all, :id, :name, { prompt: "Select City" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div data-controller="previews" class="flex flex-col lg:flex-row items-center gap-5 mb-5">
    <div class="flex flex-col">
      <%= form.label :image, 'Imagen del Local', class: 'text-blue-400 font-bold text-lg' %>
      <%= form.file_field :image, direct_upload: true, data: { previews_target: "input", action: "change->previews#preview" }, class: 'flex flex-col'  %>
    </div>
    
    <% if local.image.attached? %>
      <%= image_tag local.image, class: 'avatar-preview w-full h-auto mt-2 mx-auto', data: { previews_target: "preview" } %>
    <% else %>
      <%= image_tag 'placeholder.jpg', class: 'avatar-preview', data: { previews_target: "preview" } %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_area :address, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
