<div id="<%= dom_id local %>">
  <p class="my-5 flex gap-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= local.city&.name %>
  </p>

  <p class="my-5 flex gap-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= local.address %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this local", local, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this local", edit_local_path(local), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
