<div class="mx-auto w-full sm:w-10/12 flex h-full">
  <div class="hidden md:flex w-1/3 h-full flex-col bg-gray-200">
    <div class="w-full">
      <% if @local.image.attached? %>
        <%= image_tag @local.image, class: 'w-full h-96' %>
      <% else %>
        <%= image_tag 'placeholder.jpg', class: 'w-full h-96' %>
      <% end %>
    </div>
    <div class="w-full flex-col items-center">
      <div class="my-5 flex flex-col gap-5 pl-4">
        <strong class="block font-medium mb-1">City:</strong>
        <p class="pl-12"><%= @local.city&.name %></p>
      </div>
    
      <div class="my-5 flex flex-col gap-5 pl-4">
        <strong class="block font-medium mb-1">Address:</strong>
        <p class="pl-2 flex-wrap w-full break-words"><%= @local.address %></p>
      </div>
    </div>
  </div>

  <div class="w-full md:w-2/3 h-full ml-10 mt-10">
    <h2 class="text-2xl font-bold text-blue-400">Choose the type of appointment for your preferences:</h2>
  
    <div class="grid grid-cols-3 gap-6 px-8 pt-8">
      <% @appointment_types.each do |appointment_type| %>
        <%= render "locals/appointment_type", appointment_type: appointment_type, local: @local %>
      <% end %>
    </div>
  
    <% if current_user.admin?%>
      <div class="flex gap-6 ml-2 mt-8">
        <%= link_to "Edit this local", edit_local_path(@local), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= button_to "Destroy this local", local_path(@local), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>
    <%= link_to "Back", dashboard_path, class: "my-5 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
