
<%= form_with(model: pet, class: "contents") do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="previews" class="flex flex-col lg:flex-row items-center gap-5 mb-5">
    <div class="flex flex-col">
      <%= form.label :photo, 'Imagen del Pet', class: 'text-blue-400 font-bold text-lg' %>
      <%= form.file_field :photo, direct_upload: true, data: { previews_target: "input", action: "change->previews#preview" }, class: 'flex flex-col'  %>
    </div>
    
    <% if pet.photo.attached? %>
      <%= image_tag pet.photo, class: 'avatar-preview w-full h-auto mt-2 mx-auto', data: { previews_target: "preview" } %>
    <% else %>
      <%= image_tag 'placeholder.jpg', class: 'avatar-preview', data: { previews_target: "preview" } %>
    <% end %>
  </div>


  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    
  </div>

  <div class="my-5">
    <%= form.label :breed %>
    <%= form.text_field :breed, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    
  </div>

  <div class="my-5">
    <%= form.label :kind %>
    <%= form.select :kind, options_for_select(Pet.kinds.map { |key, value| [key.capitalize, value] }, selected: @pet.kind), { prompt: "Select Kind" },  class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  
  <div class="my-5">
    <%= form.label :important_data %>
    <%= form.rich_text_area :important_data, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

