<div id="<%= dom_id local_obj %>">
  <%= link_to local_path(local_obj), class:"p-6 border shadow-xl rounded-xl block hover:shadow-lg transition ease-in duration-300 relative overflow-hidden" do%>
    <% if local_obj.image.attached? %>
      <%= image_tag local_obj.image, class: 'w-full h-80 rounded-lg' %>
    <% else %>
      <%= image_tag 'placeholder.jpg', class: 'w-full h-80 rounded-lg' %>
    <% end %>
    <p class="my-5 flex flex-col items-start justify-center">
      <strong><%= t('dashboard_local') %>: </strong>
      <%= local_obj.city.name %>
    </p>
  <% end %>
</div>